<div class="card text-white bg-comment comment-card">
    <div class="card-body">
        <p class="card-text lh-1">
            {{comment}}
        </p>
    </div>
    <div class="card-footer text-white-50 d-flex justify-content-end">
        comment by {{user.username}} on {{format_date commentDate}}
    </div>
</div>