body {
  background-color: darkcyan;
}
.blog-logo-box {
  border-radius: 15px;
}
.blog-logo-text {
  text-shadow: 0px 0px 5px #0ef, 0px 0px 5px #0ef, 0px 0px 10px #0ef,
    0px 0px 10px #0ef, 0px 0px 15px #0ef, 0px 0px 20px #0ef, 0px 0px 25px #0ef,
    0px 0px 30px #0ef;
  font-family: "Electrolize", sans-serif;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 200;
}

.shadow-heavy {
  box-shadow: 0px 10px 25px rgb(0 0 0 / 50%);
}

.comment-card {
  font-size: small;
  background-color: rgb(88, 93, 100);
  margin-bottom: 0px;
  border-radius: 0px;
}

.comment-group {
  border-radius: 8px;
}
